*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Indie Flower', cursive;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(#ffccff, #ead7ff);
}

.calculator {
    position: relative;
    width: 340px;
    padding: 20px;
    border-radius: 20px;
    border: 3px solid black;
    background: #e5ccff;
}

.calculator .buttons {
    position: relative;
    display: grid;
}

.calculator .buttons #value {
    position: relative;
    grid-column: span 4;
    user-select: none;
    overflow: none;
    width: 100%;
    text-align: end;
    color: #000000;
    height: 100px;
    line-height: 100px;
    border-radius: 10px;
    margin-bottom: 12px;
    padding: 0 20px;
    font-size: 2em;
    font-weight: 500;
    border: 3px solid black;
    background: #ffccff;
}

.calculator .buttons span {
    position: relative;
    padding: 10px;
    margin: 10px;
    cursor: pointer;
    user-select: none;
    min-width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2em;
    color: #666;
    border: 3px solid #000000;
    border-radius: 10px;
    color: #000000;
    background: #fee0fe;
    font-size: 25px;

}

.calculator .buttons span:active {
    color: #000000;
    background: #ffffff;
}

.calculator .buttons span#clear {
    grid-column: span 2;
    background: #f44336;
    color: #fff;
    border: 3px solid #000000;
}

.calculator .buttons span#plus{
    grid-row: span 2;
    color: #fff;
    border: 3px solid #000000;
    background: rgb(85, 85, 255);
}

.calculator .buttons span#equal{
    grid-row: span 2;
    color: #fff;
    border: 3px solid #000000;
    background: rgb(123, 106, 208);
}

.calculator .buttons span#minus{
    color: #fff;
    border: 3px solid #000000;
    background: rgb(85, 85, 255);
}

.calculator .buttons span#time{
    color: #fff;
    border: 3px solid #000000;
    background: rgb(85, 85, 255);
}

.calculator .buttons span#division{
    color: #fff;
    border: 3px solid #000000;
    background: rgb(85, 85, 255);
}

.calculator .buttons span#comma{
    color: #000000;
    border: 3px solid #000000;
    background: #ffd3ff;
}

.calculator .buttons span#point{
    color: #000000;
    border: 3px solid #000000;
    background: #ffd3ff;
}

.calculator .buttons span#clear:active,
.calculator .buttons span#plus:active,
.calculator .buttons span#equal:active,
.calculator .buttons span#minus:active,
.calculator .buttons span#time:active,
.calculator .buttons span#division:active
{
    inset: 5px 5px 10px rgba (0, 0, 0, 0.1);
    color: #000000;

}

.calculator .buttons span#comma:active,
.calculator .buttons span#point:active
{
    inset: 5px 5px 10px rgba (0, 0, 0, 0.1);
    background: #ffffff;
}
